    const http = require('http');
    const fs = require('fs')
    const url = require('url');
    const querystring = require('querystring');
    // const figlet = require('figlet')

const names = {
    a: {
        first: ['Summer', 'Luxury', 'Velvet', 'Goldie', 'Rose'],
        last:['Slik', 'Lotus', 'Vroom', 'Gears', 'Racer' ]
    },

    b:{
        first: ['Benz', 'Satin', 'Diamond', 'Perl', 'Caviar'],
        last: ['Blush', 'Speed', 'Drive', 'Posche', 'Cutie']
    },
    
    c:{
        first:['Ferrari', 'Champagne', 'Pink', 'Sunset', 'Lemonade'],
        last: ['Sapphire', 'Venom', 'Prestige', 'Femme', 'Rider']
    }
}
console.log(names);

function listTaker(list){
    return list[Math.floor(Math.random()*list.length)]
}

function generateName(answers) {
    const counts = { a: 0, b: 0, c: 0 };

    answers.forEach((answer) => {
        if (counts[answer] !== undefined) {
            counts[answer] += 1;
        }
    });

    let winner = 'a';
    if (counts.b > counts[winner]) winner = 'b';
    if (counts.c > counts[winner]) winner = 'c';
    return winner;
}

const server = http.createServer(function(req, res) {
    const page = url.parse(req.url).pathname;
    const params = querystring.parse(url.parse(req.url).query);
    console.log(page);
    if (page == '/') {
        console.log('works')
        fs.readFile('index.html', function(err, data) {
        res.writeHead(200, {'Content-Type': 'text/html'});
        res.write(data);
        res.end();
        });

    }else if (page == '/api') {
        const answers = [params.q1, params.q2, params.q3, params.q4, params.q5];
        const letter = mostPicked(answers)
        const group = names[letter]
        const names = listTaker(group.first)+ '' + listTaker(group.last)




    //     if('student' in params){
    //     if(params['student']== 'leon'){
    //         res.writeHead(200, {'Content-Type': 'application/json'});
    //         const objToJson = {
    //         name: "leon",
    //         status: "Boss Man",
    //         currentOccupation: "Baller"
    //         }
    //         res.end(JSON.stringify(objToJson));
    //     }//student = leon
    //     else if(params['student'] != 'leon'){
    //         res.writeHead(200, {'Content-Type': 'application/json'});
    //         const objToJson = {
    //         name: "unknown",
    //         status: "unknown",
    //         currentOccupation: "unknown"
    //         }
    //         res.end(JSON.stringify(objToJson));
    //     }//student != leon
    //     }//student if
    // }//else if
    res.writeHead(200, {'Content-Type': 'application/json'})
        res.write(data)
        res.end(JSON.stringify({name: names}))
        console.log("yep")


    } else if (page == '/css/style.css'){
        fs.readFile('css/style.css', function(err, data) {
        res.write(data);
        res.end();
        });
    }else if (page == '/js/main.js'){
        fs.readFile('js/main.js', function(err, data) {
        res.writeHead(200, {'Content-Type': 'text/javascript'});
        res.write(data);
        res.end();
        });
    }
    });

    server.listen(8000);